@safe-width : 1280px;
@phone-width: 520px;

:root {
  --primary-color: #f7d602;

  --line-color: #eee;

  --page-bg-color       : #fff;
  --paragraph-text-color: #333d4b;
  --secondary-text-color: rgba(0, 0, 0, 0.6);

  /* App Components */

  --overlay-color : rgba(0, 0, 0, 0.2);
  --modal-bg-color: #fff;

  --success-alert-bg-color  : #eaf7e6;
  --success-alert-icon-color: #66bb6a;
  --success-alert-text-color: #0c130d;

  --info-alert-bg-color  : #eaf7f9;
  --info-alert-icon-color: #29b6f6;
  --info-alert-text-color: #071318;

  --warning-alert-bg-color  : #fff8e1;
  --warning-alert-icon-color: #ffa726;
  --warning-alert-text-color: #191207;

  --error-alert-bg-color  : #fce4e4;
  --error-alert-icon-color: #f44336;
  --error-alert-text-color: #160b0b;

  --contained-button-bg-color         : var(--primary-color);
  --contained-button-text-color       : #000;
  --contained-button-hover-bg-color   : #eacb00;
  --contained-button-disabled-bg-color: rgba(0, 0, 0, 0.26);

  --outlined-button-border-color      : var(--line-color);
  --outlined-button-bg-color          : transparent;
  --outlined-button-text-color        : #000;
  --outlined-button-hover-border-color: var(--line-color);
  --outlined-button-hover-bg-color    : rgba(0, 0, 0, 0.08);
  --outlined-button-disabled-bg-color : rgba(0, 0, 0, 0.26);

  --icon-button-bg-color         : var(--page-bg-color);
  --icon-button-text-color       : #000;
  --icon-button-hover-bg-color   : #e9e9e9;
  --icon-button-disabled-bg-color: rgba(0, 0, 0, 0.26);

  --input-border-color      : #ccc;
  --input-hover-border-color: #999;
  --input-focus-border-color: #333;

  --checkbox-border-color      : #ccc;
  --checkbox-hover-border-color: #999;
  --checkbox-checked-bg-color  : #000;
  --checkbox-checkmark-color   : #fff;

  --dropdown-menu-bg-color           : #eee;
  --dropdown-menu-border-color       : rgba(0, 0, 0, 0.1);
  --dropdown-menu-shadow             : rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  --dropdown-menu-separator-color    : rgba(0, 0, 0, 0.1);
  --dropdown-menu-item-hover-bg-color: #ddd;

  --loading-spinner-color                    : #000;
  --loading-spinner-on-contained-button-color: #fff;
}

[data-theme="dark"] {
  --line-color: #333;

  --page-bg-color       : #060505;
  --paragraph-text-color: #fff;
  --secondary-text-color: rgba(255, 255, 255, 0.7);

  /* App Components */

  --success-alert-bg-color  : #0c130d;
  --success-alert-icon-color: #66bb6a;
  --success-alert-text-color: #cce8cd;

  --info-alert-bg-color  : #071318;
  --info-alert-icon-color: #29b6f6;
  --info-alert-text-color: #b8e7fb;

  --warning-alert-bg-color  : #191207;
  --warning-alert-icon-color: #ffa726;
  --warning-alert-text-color: #ffe2b7;

  --error-alert-bg-color  : #160b0b;
  --error-alert-icon-color: #f44336;
  --error-alert-text-color: #f4c7c7;

  --icon-button-bg-color         : --page-bg-color;
  --icon-button-text-color       : #fff;
  --icon-button-hover-bg-color   : #222;
  --icon-button-disabled-bg-color: rgba(0, 0, 0, 0.26);

  --dropdown-menu-bg-color           : #2f2f2f;
  --dropdown-menu-border-color       : rgba(255, 255, 255, 0.1);
  --dropdown-menu-shadow             : rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  --dropdown-menu-separator-color    : rgba(255, 255, 255, 0.1);
  --dropdown-menu-item-hover-bg-color: #424242;
}