:root {
  --line-color: #eee;

  --page-bg-color       : #fff;
  --paragraph-text-color: #333d4b;

  --primary-color: #f7d602;
}

[data-theme="dark"] {
  --line-color: #333;

  --page-bg-color       : #060505;
  --paragraph-text-color: #fff;
}